body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 900px;
  margin: 40px auto;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}




.alunos-section {
  padding: 30px;
  text-align: center;
}

.icon {
  width: 60px;
  margin-bottom: 10px;
}

.alunos-section h2 {
  margin-top: 0;
  font-size: 24px;
  font-weight: 600;
}

.search {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.search label {
  font-weight: bold;
  font-size: 16px;
}

.search select {
  padding: 8px;
  font-size: 16px;
  min-width: 250px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.card {
  margin: 0 auto;
  max-width: 400px;
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px #ddd;
}

.card img {
  width: 100%;
  border-radius: 10px;
  max-height: 300px;
  object-fit: cover;
}

.card h3 {
  margin: 15px 0 5px;
  font-size: 22px;
}

.card p {
  font-size: 16px;
  margin: 5px 0;
}

.card strong {
  color: #333;
}
