html, body {
      height: 100%;
      margin: 0;
    }

    body {
      display: flex;
      align-items: center;        /* centraliza verticalmente */
      justify-content: center;    /* centraliza horizontalmente */
      flex-direction: column;     /* para os elementos ficarem empilhados */
      font-family: Arial, sans-serif;
      text-align: center;
    }

    .datas {
      margin-top: 20px;
      font-size: 18px;
    }

    img {
      max-width: 100px;
    }
    .container-datas {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 16px;
  border-radius: 8px;
  max-width: 300px;
  margin: 0 auto;
  text-align: left;
}
